.app__doctor_manage_availability_data_row{
    font-family: var(--font-alt);

    .app__doctor_manage_availability_data_cell{
        padding: 15px;
        text-align: left;
        font-size: 0.9em;
        border-bottom: 2px solid var(--color-turquoise);


        .app__doctor_manage_availability_dropdown_item_delete_btn{
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            font-size: 15px;

            &:hover {
                cursor: pointer;
                color: black;
                background-color: red;
                box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
            }

          }
      
    }

    &:nth-child(even) {background-color: rgb(196, 196, 196);}
    &:hover {background-color: white;}
}
