.app__doctor_manage_availabilities-wrapper{
    height: calc(100vh - 112px);
    width: 100%;

    .app__doctor_manage_availabilities_title{
        margin-left: 20px;
        margin-top: 20px;
        font-size: 35px;
        font-weight: 900;
    }

    .app__doctor_manage_availabilitie_create_and_view-wrapper{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        // background-color: blue;

        .app__doctor_manage_availabilities_create_availability-wrapper{
            width: 30%;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
            border-radius: 5px;
            background-color: var(--color-white);

            .app__doctor_manage_availabilities_create_availability_title{
                margin-top: 20px;
                font-size: 25px;
                font-weight: 900;
            }
    
            .app__doctor_manage_availabilities_dropdowns-wrapper{
                width: 90%;

                .app__doctor_manage_availabilities_label{
                    color: var(--color-black);
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            .app__doctor_manage_availabilities__create_availability_date{
                margin-top: 25px;
                background-color: var(--color-turquoise);
                padding: 15px;
                color: var(--color-white);
                font-size: 16px;
                border: none;
                outline: none;
                border-radius: 5px;

               
            }
            .app__doctor_manage_availabilities__create_availability_date::-webkit-calendar-picker-indicator{
                background-color: var(--color-orange);
                padding: 5px;
                cursor: pointer;
                border-radius: 3px;
            }

            .app__doctor_manage_availabilities__create_availability_button{
                margin-top: 10%;
                margin-bottom: 20px;
            }
        }

        .app__doctor_manage_availabilitie_view_availabilities-wrapper{
            width: 60%;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
            border-radius: 5px;
            background-color: var(--color-white);
            min-height: 400px;
            max-height: 60vh;
            overflow-y: scroll;


            .app__doctor_manage_availabilities_table {
                margin-left: auto;
                margin-right: auto;
                width: 96%;
                margin-top: 20px;
                margin-bottom: 20px;
        
                .app__doctor_manage_availabilities_table_headers-wrapper {
                    border-radius: 5px;
        
                    .app__doctor_manage_availabilities_table_header {
                        height: 10px;
                        padding: 10px;
                        background-color: var(--color-turquoise);
                        font-size: 0.9em;
                        font-weight: 600;
                        color: var(--color-orange);
                    }
        
                    
        
                }
        
            }
        
            .app__doctor_manage_availabilities_table_body_no_submissions{
                color: var(--color-black);
                width: 100%;
                text-align: center;
                font-size: 1.6em;
                margin-top: 5px;
            }
        }
        .app__doctor_manage_availabilitie_view_availabilities-wrapper::-webkit-scrollbar{
            display: none;
        }
    }

}

